---
const { href } = Astro.props;
---


<a href={href} class="flex flex-col items-center justify-center bg-buttons text-white text-xs sm:text-lg lg:text-xl rounded-full px-6 sm:px-8 lg:px-10 py-3 sm:py-4 lg:py-5 font-bold shadow-[0px_0px_10px_10px] shadow-buttons hover:bg-buttons/80 transition-all duration-300 hover:scale-105 cursor-pointer text-center mx-10 border-3 border-amber-700">
    <slot />
</a>