---
const { href } = Astro.props;
---


<a href={href} class="flex flex-col items-center justify-center bg-buttons text-white text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl rounded-full px-6 sm:px-8 md:px-10 lg:px-12 xl:px-16 py-3 sm:py-4 md:py-5 lg:py-6 xl:py-8 font-bold shadow-[0px_0px_10px_10px] shadow-buttons hover:bg-buttons/80 transition-all duration-300 hover:scale-105 cursor-pointer w-full max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl">
    <slot />
</a>