---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
/* Components */
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import StoryTelling from '../components/StoryTelling.astro';
---

<Layout>
	<div class="w-full min-h-screen flex flex-col gap-15">
		<Hero />
		<SocialProof />
		<StoryTelling />
	</div>
</Layout>
