<div class="flex flex-row items-center">
  <div class="flex flex-row items-center -space-x-2 sm:-space-x-3">
    <div class="bg-[url(/icons/Ellipse1.png)] w-6 h-6 sm:w-8 sm:h-8 rounded-full bg-cover bg-center bg-no-repeat"></div>
    <div class="bg-[url(/icons/Ellipse2.png)] w-6 h-6 sm:w-8 sm:h-8 rounded-full bg-cover bg-center bg-no-repeat"></div>
    <div class="bg-[url(/icons/Ellipse3.png)] w-6 h-6 sm:w-8 sm:h-8 rounded-full bg-cover bg-center bg-no-repeat"></div>
  </div>
  <span class="text-xs sm:text-sm font-medium leading-tight">+2000 madres ya confiaron ⭐</span>
</div>
</div>