<div class="flex flex-col items-center justify-center bg-gray-300 w-[340px] h-[210px] sm:w-[400px] sm:h-[225px] md:w-[560px] md:h-[315px] lg:w-[720px] lg:h-[405px]">
    <video src="https://www.youtube.com/watch?v=Z5Rr3uqi9YQ&feature=youtu.be" class="w-full h-full object-cover" controls autoplay loop muted></video>
</div>