<div class="flex flex-col items-center justify-center md:mx-73">

    <div class="m-2 space-y-2">
        <div
          class="group flex flex-col gap-2 rounded-lg bg-boybaby/80 p-5 text-black"
          tabindex="1"
        >
          <div class="flex cursor-pointer items-center justify-between">
            <span class="font-bold"> ¿Cuánto tiempo dura el curso? </span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
              class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
            />
          </div>
          <div
            class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
          >
          El curso está diseñado en módulos cortos y claros. Podés completarlo en pocos días o ir a tu ritmo, según el tiempo que tengas disponible.
          </div>
        </div>
      
        <div
          class="group flex flex-col gap-2 rounded-lg bg-boybaby/80 p-5 text-black"
          tabindex="2"
        >
          <div class="flex cursor-pointer items-center justify-between">
            <span class="font-bold"> ¿Funciona si termino teniendo cesárea? </span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
              class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
            />
          </div>
          <div
            class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
          >
          Sí. El curso también incluye información sobre cesárea, cómo transitar el proceso y cómo prepararte para vivirlo con mayor tranquilidad.
          </div>
        </div>
      
        <div
          class="group flex flex-col gap-2 rounded-lg bg-boybaby/80 p-5 text-black"
          tabindex="3"
        >
          <div class="flex cursor-pointer items-center justify-between">
            <span class="font-bold"> ¿Puedo hacerlo desde cualquier país? </span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
              class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
            />
          </div>
          <div
            class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
          >
          Sí. El curso es 100% online y accesible desde cualquier lugar del mundo.
          </div>
        </div>

        <div
          class="group flex flex-col gap-2 rounded-lg bg-boybaby/80 p-5 text-black"
          tabindex="3"
        >
          <div class="flex cursor-pointer items-center justify-between ">
            <span class="font-bold"> ¿Y si no me gusta el curso? </span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chevron-icon-drop-down-menu-WHITE.png"
              class="h-2 w-3 transition-all duration-500 group-focus:-rotate-180"
            />
          </div>
          <div
            class="invisible h-auto max-h-0 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
          >
          Tenés una garantía de 7 días. Si el curso no es lo que esperabas, podés pedir tu reembolso sin problemas.
          </div>
        </div>
      </div>
</div>