---
import UpperHero from "../microComponents/upperHero.astro";
import Video from "../microComponents/video.astro";
import Btn from "./CardsBtn/Btn.astro";
---

<div class="w-full flex flex-col items-center justify-center gap-2 mt-5">
  <UpperHero />

  <div class="w-full flex flex-col items-center justify-center gap-12">
    <h1 class="text-2xl sm:text-3xl md:text-4xl xl:w-[1138px] lg:w-[1138px] font-bold text-center">¿Eres <strong>primeriza</strong> y el <strong>miedo al parto</strong> no te deja tranquila? <span class="text-girlbaby">Descubre cómo vivir tu parto con confianza, seguridad y sin miedos</span></h1>

    <Video />

    <Btn>
      QUIERO TENER MEJOR EXPERIENCIA EN MI PARTO »»   
    </Btn>

  </div>

</div>