---
import UpperHero from "../microComponents/upperHero.astro";
import Video from "../microComponents/video.astro";
import Btn from "./CardsBtn/Btn.astro";
---

<div class="flex flex-col items-center justify-center text-center w-full">
  <UpperHero />
  <div class="flex flex-col items-center justify-center gap-4 sm:gap-6 lg:gap-8 w-full">
    
    <h1 class="text-lg sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold w-full px-4 sm:px-6 lg:px-8">
      ¿Eres primeriza y el miedo al parto no te deja tranquila? 
      <span class="text-girlbaby block mt-2">
        Descubre cómo vivir tu parto con confianza, seguridad y sin miedos
        innecesarios
      </span>
    </h1>

    <Video />

    
</div>
<div class="flex flex-col items-center justify-center gap-6 sm:gap-8 lg:gap-10 w-full">
    
    <p class="text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl w-full px-4 sm:px-6 lg:px-8 max-w-4xl mt-2 font-semibold"> 
        Con el curso <strong> El parto es TUYO </strong>aprenderás, en pasos simples y prácticos, cómo prepararte física y mentalmente para el <strong>nacimiento de tu bebé.</strong> Técnicas naturales, plan de parto, <strong> manejo del dolor y confianza total en tu cuerpo.</strong>
    </p>
    
    <Btn href="/" >
        Quiero vivir mi parto sin miedo »»    
    </Btn>
</div>
</div>
